.table {
    width: 100%;
}

.item {
    text-align: center;
    padding: 8px;
}

@media (max-width: 768px) {
    .item {
        padding: 0px;
        font-size: 11px;
    }
}

.hidden {
    display: none;
}

.datePickerButton {
    background-color: #f0f0f0;
    border: gray 1px solid;
    padding: 2px 8px;
}