.summary {
    display: block;
    z-index: 1;
}

.small {
    text-transform: uppercase;
    font-size: 11px;
    color: var(--gray-alpha-500);
    /* margin-top: -2px; */
    display: block;
    font-weight: 500;
}


.statusModules {
}

.statusModule {
    position: absolute;
    padding: 10px;
    background-color: var(--background);
    opacity: 0.8;
    border-radius: 10px;
    z-index: 200;
}

@media (prefers-color-scheme: dark) {
    .statusModule {
        background-color: rgba(0, 0, 0, 1);
    }
}

.solar {
    right: 572px;
    top: 434px;
}

.grid {
    right: 429px;
    top: 719px;
}

.home {
    right: 323px;
    top: 526px;
}

.weather {
    right: 390px;
    top: 140px;
}

.powerwall {
    right: 420px;
    top: 689px;
    width: 140px;
}

.tesla {
    right: 751px;
    top: 566px;
    width: 140px;
}

.powerFlowSolar {
    position: absolute;
    top: 504px;
    right: 365px;
}

.powerFlowGrid {
    position: absolute;
    top: 627px;
    right: 92px;
}

.powerFlowHome {
    position: absolute;
    top: 507px;
    right: 82px;
}

.powerFlowTesla {
    position: absolute;
    top: 649px;
    right: 554px;
    transform: scale(1.73);
}

@media screen and (max-width: 600px) {
    .solar {
        right: 312px;
        top: 394px;
    }

    .grid {
        right: 189px;
        top: 609px;
    }

    .home {
        right: 164px;
        top: 428px;
        width: 85px
    }

    .weather {
        right: 210px;
        top: 210px;
    }

    .powerwall {
        right: 260px;
        top: 589px;
    }

    .tesla {
        right: 410px;
        top: 466px;
        width: 140px;
    }

    .powerFlowSolar {
        top: 416px;
        right: 168px;
        transform: scale(0.575);
    }

    .powerFlowGrid {
        top: 486px;
        right: -32px;
        transform: scale(0.575);
    }

    .powerFlowHome {
        top: 416px;
        right: -38px;
        transform: scale(0.575);
    }

    .powerFlowTesla {
        top: 530px;
        right: 306px;
        transform: scale(1.0);
    }
}

.powerFlowPath {
    stroke: #646464;
    stroke-width: 3px;
    fill: none;
    
    @media (max-width: 600px) {
        stroke-width: 5px;
    }
}

.powerFlow3d {
    stroke: rgb(35, 35, 35);
    stroke-width: 3px;
    fill: none;

    @media (max-width: 600px) {
        stroke-width: 5px;
    }
}

.powerFlowGradient {
    stroke: url(#gradient);
    stroke-width: 3px;
    fill: none;

    @media (max-width: 600px) {
        stroke-width: 5px;
    }
}

.powerFlowGradientGrid {
    stroke: url(#gradientGrid);
    stroke-width: 3px;
    fill: none;

    @media (max-width: 600px) {
        stroke-width: 5px;
    }
}

.powerFlowGradientExport {
    stroke: url(#gradientExport);
    stroke-width: 3px;
    fill: none;

    @media (max-width: 600px) {
        stroke-width: 5px;
    }
}

.powerFlowGradient2 {
    stroke: url(#gradient2);
    stroke-width: 3px;
    fill: none;

    @media (max-width: 600px) {
        stroke-width: 5px;
    }
}

.powerFlowGradientImport {
    stroke: url(#gradientImport);
    stroke-width: 3px;
    fill: none;

    @media (max-width: 600px) {
        stroke-width: 5px;
    }
}

.powerFlowPathTesla {
    stroke: #646464;
    stroke-width: 2px;
    fill: none;

    @media (max-width: 600px) {
        stroke-width: 3px;
    }
}

.powerFlowGradientTesla {
    stroke: url(#gradientTesla);
    stroke-width: 2px;
    fill: none;

    @media (max-width: 600px) {
        stroke-width: 5px;
    }
}

.weatherAlert {
    color: #ff0707;

    svg.weatherAlertIcon {
        display: inline-block;
        margin-bottom: -2px;
    }
}

.batteryLevelIcon {
    display: inline-block;
    margin-bottom: -1px;
    margin-right: 2px;
}
