.summary {
    display: block;
}

.small {
    text-transform: uppercase;
    font-size: 11px;
    color: var(--gray-alpha-500);
    /* margin-top: -2px; */
    display: block;
    font-weight: 500;
}


.statusModules {
    position: relative;
    width: 100%;
    height: 700px;
}

.statusModule {
    position: absolute;
    padding: 10px;
    background-color: var(--background);
    opacity: 0.8;
    border-radius: 10px;
}

@media (prefers-color-scheme: dark) {
    .statusModule {
        background-color: rgba(0, 0, 0, 1);
    }
}

.solar {
    right: 168px;
    top: 323px;
}

.grid {
    right: 60px;
    top: 589px;
}

.home {
    right: -64px;
    top: 426px;
}

.weather {
    right: 30px;
    top: 0px;
}

.powerwall {
    right: 60px;
    top: 589px;
}

.tesla {
    right: 360px;
    top: 489px;
    width: 140px;
}

@keyframes flow {
    to {
        stroke-dashoffset: 0;
    }
}

.powerFlowSolar {
    position: absolute;
    top: 388px;
    right: -44px;
}

.powerFlowGrid {
    position: absolute;
    top: 507px;
    right: -315px;
}

.powerFlowHome {
    position: absolute;
    top: 393px;
    right: -325px;
}

.powerFlowTesla {
    position: absolute;
    top: 665px;
    right: 243px;
}

@media screen and (max-width: 600px) {
    .solar {
        top: 163px;
    }

    .powerFlowSolar {
        right: -35px;
        top: 201px;
        transform: scaleY(0.53);
    }

    .grid {
        top: 389px;
        right: 63px;
    }

    .powerwall {
        top: 359px;
        right: 63px;
    }

    .powerFlowGrid {
        top: 315px;
        right: -287px;
    }

    .home {
        top: 226px;
        right: -25px;
        width: 100px;
    }

    .powerFlowHome {
        right: -292px;
        top: 203px;
    }

    .tesla {
        top: 265px;
        right: 243px;

    }
    .powerFlowTesla {
        right: 135px;
        top: 315px;
    }
}

.powerFlowPath {
    stroke: #646464;
    stroke-width: 3px;
    fill: none;
}

.powerFlow3d {
    stroke: rgb(35, 35, 35);
    stroke-width: 3px;
    fill: none;
}

.powerFlowGradient {
    stroke: url(#gradient);
    stroke-width: 3px;
    fill: none;
}

.powerFlowGradientGrid {
    stroke: url(#gradientGrid);
    stroke-width: 3px;
    fill: none;
}

.powerFlowGradientExport {
    stroke: url(#gradientExport);
    stroke-width: 3px;
    fill: none;
}

.powerFlowGradient2 {
    stroke: url(#gradient2);
    stroke-width: 3px;
    fill: none;
}

.powerFlowGradientImport {
    stroke: url(#gradientImport);
    stroke-width: 3px;
    fill: none;
}

.powerFlowPathTesla {
    stroke: #646464;
    stroke-width: 2px;
    fill: none;
}

.powerFlowGradientTesla {
    stroke: url(#gradientTesla);
    stroke-width: 2px;
    fill: none;
}

.weatherAlert {
    color: #ff0707;

    svg.weatherAlertIcon {
        display: inline-block;
        margin-bottom: -2px;
    }
}

.batteryLevelIcon {
    display: inline-block;
    margin-bottom: -1px;
    margin-right: 2px;
}

.homeDetails {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    background-color: var(--background);
    padding: 0rem;
    z-index: 1000;
    border-radius: 10px;
}

.homeDetailsOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.homeDetailsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: var(--gray-alpha-500);
    border-radius: 10px 10px 0 0;
    color: var(--foreground);
}

.homeDetailsClose {
    background-color: var(--background);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 10px;
}

.homeDetailsBody {
    height: 90%;
    overflow: scroll;
    padding: 1rem;
}

.homeDetailsTable {
    border: 2px solid var(--gray-alpha-500);
    border-radius: 10px;
    margin-top: 1rem;
}

.homeDetailsTableHeader {
    text-align: left;
    font-weight: 700;
    border-bottom: 2px solid var(--gray-alpha-500);
    padding: 0.25rem 1rem;
}

.homeDetailsTableCell {
    text-align: left;
    padding: 0.5rem 1rem;
    border-bottom: 2px solid var(--gray-alpha-500);
    color: var(--gray-alpha-500);
}

.homeDetailsTableCellDevice {
    font-weight: 700;
    color: var(--foreground);
}

.homeDetailsTableRow:last-child .homeDetailsTableCell {
    border-bottom: none;
}


